.inner {
  max-width: 1280px;
  min-width: 1024px;
  margin: 0 auto;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1rem;
}
.popup {
  width: 100%;
  min-width: 1024px;
  overflow: hidden;
}
.popup img {
  position: relative;
  left: calc(50% - 960px); /* 중요 */
}
/* 퀵메뉴 */
#quick {
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 280px;
  height: 380px;
  background: #cfa;
  z-index: 2;
}
.quick {
  width: 100px;
  height: 200px;
  background-color: yellow;
  position: fixed;
  right: 0;
  bottom: 100px;
  z-index: 99999;
}

/*********************button****************************/
.btn {
  float: right;
  width: 30px;
  height: 30px;
}
/*********************header****************************/

.gv_mn {
  float: left;
  color: #000;
  font-size: 40px;
}
.hv_mn {
  float: left;
  margin-left: 10px;
  padding-top: 28px;
  color: #666;
}
.gery {
  float: left;
  color: #000;
  font-size: 40px;
}
.hgt {
  float: left;
  margin-left: 10px;
  padding-top: 28px;
  color: #666;
}
.tv_mn {
  text-align: center;
}
.fv_mn {
  text-align: center;
  font-size: 15px;
}
#header .inner {
  position: relative;
}
#header .logo {
  width: 200px;

  float: left;
}
#header .logo img {
  width: 100%;
  height: 73px;
  margin-top: 15px;
}
#header .header_top {
  width: calc(100% - 250px);
  float: right;
  text-align: right;
}
#header .lanuage {
  display: inline-block;
  position: relative;
  width: 4rem;
  text-align: center;
}
#header .lanuage ul {
  position: absolute;
  top: 1.5rem;
  left: 0;
}
.lanuage :hover {
  background-color: blue;
  transition: 0.7s;
}
.sub {
  text-align: center;
  background-color: dodgerblue;
  margin-left: 8px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  color: #ffffff;
  z-index: 99999;
  display: none;
}
.sub :hover {
  background-color: darkcyan;
  transition: 0.7s;
}
.pop_close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  color: #fff;
  background-color: #00316e;
}
#header #nav {
  width: calc(100% - 250px);
  float: left;
  position: relative;
}
.t_mn {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  border-radius: 20px;
}
#header #nav .depth1 > li {
  float: left;
  padding-left: 50px;
}
#header #nav .depth1 > li > a {
  display: block;
  line-height: 60px;
  font-size: 21px;
}
#header #nav .depth1 > li:hover ul {
  display: block;
}
#header #nav .depth1 ul {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 20px 0;
  position: absolute;
  left: 0;
  top: 50px;
  display: none;
  z-index: 99999;
}
#header #nav .depth1 ul li {
  background: url(../) no-repeat;
  display: inline-block;
  padding: 0 30px;
}
#header #nav .depth1 ul li:last-child {
  background: none;
}
#header::after {
  content: "";
  display: block;
  clear: both;
}

.lazy slider {
  width: 100%;
  height: 400px;
  background-color: #d1fffa;
}
#section2 .yu_mn {
  width: 100%;
}
.con_mn {
  width: 100%;
  height: 45px;
  margin-top: 110px;
  margin-bottom: 70px;
}
#section2::after {
  content: "";
  display: block;
  clear: both;
}
#section2 .inner .clinic div {
  position: relative;
  float: left;
  width: 33.333%;
}
#section2 .inner .clinic div img {
  width: 100%;
}
#section2 .inner .clinic div a {
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #36cfbf;
}
#section2 a .text_on {
  display: none; /*transition:0.5s; opacity:0*/
  font-size: 80px;
  text-align: center;
  font-family: "Jua", sans-serif;
  color: #fff;
}
#section2 .clinic div a:hover .text_on {
  display: block; /*opacity:1*/
  height: calc(100% - 80px);
  padding-top: 80px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* 박스테두리 에니메이션 */
#section2 .inner .clinic div a:before {
  content: "";
  position: absolute;
  left: 0px;
  top: -0px;
  width: 0%;
  height: 0%;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  z-index: 1;
  /* border-top: 4px solid transparent; */
  /* border-right: 4px solid transparent; */
}
#section2 .inner .clinic div a:hover:before,
#section2 .inner .clinic div a:focus:before {
  border-color: #38a892;
  width: 100%;
  height: 100%;
  transition: width 0.4s, height 0.4s 0.4s;
}
#section2 .inner .clinic div a::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: -0px;
  width: 0%;
  height: 0%;
  border-left: 4px solid transparent;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  /* border-top: 4px solid transparent; */
  /* border-right: 4px solid transparent; */
}
#section2 .inner .clinic div a:hover:after,
#section2 .inner .clinic div a:focus::after {
  border-color: #38a892;
  width: 100%;
  height: 100%;
  transition: width 0.4s, height 0.4s 0.4s;
}

/* 점은 배경그림으로 만들기  */
/*********************section****************************/
.sec3 {
  margin-top: 100px;
}
#section3 {
  width: 100%;
  margin-top: 50px;
}
#section3 .bx-wrapper{width:800px;margin:0 auto}

#section5 {
  width: 100%;
  margin-top: 150px;
  margin-bottom: 150px;
}
.veo {
  text-align: center;
}
.veo img{
  width:100%;
  min-width:1024px
}
/*고쳐야대는부분*/
.star {
  width: 100%;
  height: 30px;
  margin-bottom: 35px;
}
.star_me {
  font-size: 25px;
  float: left;
  color: #000;
}
.star_my {
  font-size: 15px;
  float: left;
  padding-top: 10px;
  margin-left: 10px;
}
/* 섹션6 */
#section6 .yty {
  width: 100%;
}
.uyt {
  width: 100%;
  height: 45px;
  margin-top: 110px;
  margin-bottom: 70px;
}
#section6::after {
  content: "";
  display: block;
  clear: both;
}
#section6 .inner .iuy div {
  position: relative;
  float: left;
  width: 33.333%;
}
#section6 .inner .iuy div img {
  width: 100%;
}
#section6 .inner .iuy div a {
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #36cfbf;
}
#section6 a .texton {
  display: none; /*transition:0.5s; opacity:0*/
  font-size: 21px;
  font-family: "Jua", sans-serif;
  text-align: center;
  color: #000000;
}
#section6 .iuy div a:hover .texton {
  display: block; /*opacity:1*/
  height: calc(100% - 80px);
  /*height: 40%;*/
  padding-top: 80px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(229, 252, 255, 0.7);
}

/* 박스테두리 에니메이션 */
#section6 .inner .iuy div a:before {
  content: "";
  position: absolute;
  left: 0px;
  top: -0px;
  width: 0%;
  height: 0%;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  z-index: 1;
  /* border-top: 4px solid transparent; */
  /* border-right: 4px solid transparent; */
}
#section6 .inner .iuy div a:hover:before,
#section6 .inner .iuy div a:focus:before {
  border-color: #38a892;
  width: 100%;
  height: 100%;
  transition: width 0.4s, height 0.4s 0.4s;
}
#section6 .inner .iuy div a::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: -0px;
  width: 0%;
  height: 0%;
  border-left: 4px solid transparent;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  /* border-top: 4px solid transparent; */
  /* border-right: 4px solid transparent; */
}
#section6 .inner .iuy div a:hover:after,
#section6 .inner .iuy div a:focus::after {
  border-color: #38a892;
  width: 100%;
  height: 100%;
  transition: width 0.4s, height 0.4s 0.4s;
}
/*********************footer****************************/
.last {
  width: 100%;
  height: 200px;
  float: left;
  margin-top: 130px;
  background-color: #38a892;
}
.footer_mn {
  width: 100%;
  height: 170px;
  margin-top: 20px;
}
.ft_textbox {
  float: left;
  width: 100%;
  height: 45px;
  margin-top: 10px;
}
.ft_text1 {
  float: left;
  width: 230px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  font-family: "Jua", sans-serif;
  color: #fff;
}
.ft_text2 {
  float: left;
  width: 220px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  font-family: "Jua", sans-serif;
  color: #fff;
}
.ft_text3 {
  float: left;
  width: 300px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  font-family: "Jua", sans-serif;
  color: #fff;
}
.ft_text5 {
  float: left;
  width: 600px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  font-family: "Jua", sans-serif;
  color: #fff;
}
.ft_text6 {
  float: left;
  width: 550px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  font-family: "Jua", sans-serif;
  color: #fff;
}
.ft_textbox2 {
  float: left;
  width: 100%;
  height: 45px;
  margin-top: 10px;
}
.ft_textbox3 {
  float: left;
  width: 100%;
  height: 45px;
  margin-top: 10px;
}
/***********************************************************************/
.tv_mn {
  margin-top: 110px;
  margin-bottom: 10px;
  font-size: 32px;
  color: #000;
}
.regular {
  width: 80%;
  margin: 0 auto;
}
.slick-slide {
  margin: 0;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}

.slick-active {
  opacity: 0.5;
}

.slick-current {
  opacity: 1;
}

.bx-wrapper {
  position: relative;
  margin-bottom: 60px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  margin: 0 auto;
}
.bx-wrapper img {
  max-width: 100%;
  display: block;
}
.bxslider {
  margin: 0;
  padding: 0;
}
ul.bxslider {
  list-style: none;
}
.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}
/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url("images/bx_loader.gif") center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: 0.85em;
  font-family: Arial;
  font-weight: bold;
  color: #279d9b;
  padding-top: 20px;
  margin-bottom: 50px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #39c6c4;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url("../images/back.png") no-repeat 0 0;
  background-size:100%
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}
.bx-wrapper .bx-next {
  right: 10px;
  background: url("../images/next.png") no-repeat 0 0;
  background-size:100%
}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: 0 0;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 30%;
  outline: 0;
  width: 32px;
  height: 50px;
  text-indent: -9999px;
  z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url("images/controls.png") -86px -11px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url("images/controls.png") -86px -44px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: 0.85em;
  padding: 10px;
}
/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
